<h2>Create Comment</h2>

<form class="" action="<%= post_comments_url(@post) %>" method="post">

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <input type="hidden" name="comment[post_id]" value="<%= @post.id %>">

  <textarea name="comment[content]" rows="8" cols="80"></textarea>

  <input type="submit" value="Submit">

</form>
