/* Define application-wide selectors here!*/

html {
	position: relative;
	height: 100%;
}

body {
	width: 80%;
	margin: 0 auto;
	font-family: $serif;
	font-size: 12px;
}

button {
	background-color: $light-blue;
	border-color: $blue solid 1px;
	color: white;
	font-weight: bold;
	padding: 8px;
	border-radius: 0.4em;
	// transition:
	font-family: $sans-serif;
	// text-transform:
	// font-size:
	// text-align:
}

button:hover {
	background-color: $dark-blue;
	border-color: $darkest-blue;
}

/*
	Header Rules
*/

header {
	border-bottom: solid 1px $lightest-gray;
	height: auto;
	background-color: white;
}

.hr-top, .hr-bottom {
	width: 100%;
	margin: 0;
}

.hr-top {
	height: 2px;
	margin-bottom: 1px;
}

.hidden {
	display: none;
}
