<header class="masthead">
  <nav class="language-nav">
    <ul>
      <li><a href="CSS">CSS</a></li>
      <li><a href="HTML">HTML</a></li>
      <li><a href="JavaScript">Javascript</a></li>
      <li><a href="Ruby">Ruby</a></li>
    </ul>
  </nav>

  <img class="logo" src="assets/AA_Times_Logo.png" alt="App Academy Times">

  <nav class="masthead-links">
    <ul>
      <li><a href="date">Tuesday, October 18, 2016</a></li>
      <li>
        <i class="fa fa-newspaper-o"></i>
        <a href="HTML">Today’s Paper</a>
      </li>
      <li>
        <i class="fa fa-video-camera"></i>
        <a href="JavaScript">Video</a>
      </li>
      <li><a href="Ruby">77°F</a></li>
      <li><a href="Ruby">AAO <strong>+100%</strong></a></li>
    </ul>

  </nav>

</header>
