
<nav class="sections-nav">
  <ul>
    <li><a href="world">World</a></li>
    <li><a href="sf">San Francisco</a></li>
    <li><a href="ny">New York</a></li>
    <li><a href="bootcamp">Bootcamp Prep</a></li>
    <li><a href="jumpstart">Jumpstart</a></li>
    <li><a href="online">Online</a></li>
    <li><a href="marketing">Marketing</a></li>
    <li><a href="sales">Sales</a></li>
    <li><a href="talent">TalentMatch</a></li>
    <li><a href="alumni">Alumni</a></li>
    <li><a href="all">All</a></li>
  </ul>
</nav>
